@tailwind base;
@tailwind components;
@tailwind utilities;

/* rubik-latin-wght-normal */
@font-face {
	font-family: 'Rubik Variable';
	font-style: normal;
	font-display: swap;
	font-weight: 300 900;
	src: url(@fontsource-variable/rubik/files/rubik-latin-wght-normal.woff2)
		format('woff2-variations');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
		U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
		U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@layer base {
	html {
		font-family: 'Rubik Variable', sans-serif;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply text-balance;
	}

	p {
		@apply text-pretty;
	}
}

@layer components {
	.btn {
		@apply block bg-blue-500 text-white font-semibold text-center rounded-lg px-4 py-2;
	}

	.input-form {
		@apply border py-3 px-4 rounded-lg w-full focus:border-blue-500 focus:outline-none;
	}

	.error-validation {
		@apply text-red-500 text-xs font-semibold;
	}
}

@layer utilities {
	.bg-attachment {
		background-attachment: fixed;
	}
}
